accelerate==0.26.1
coacd==1.0.0
cvxpy==1.4.1
ipython==8.12.3
matplotlib==3.8.4
nimblephysics==0.10.31
numpy==1.24.4
omegaconf==2.3.0
potpourri3d==1.0.0
pybullet==3.2.6
pytorch3d==0.7.6
pytorch_kinematics==0.5.6
safetensors==0.4.3
scikit_learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
torch==2.0.1
tqdm==4.66.1
trimesh==4.0.2
viser==0.1.28
